doctype 5
html(lang='ja')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    block css
        link(rel='stylesheet',href='/stylesheets/bootstrap/css/bootstrap.css')
        link(rel='stylesheet',href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    block script
        script(src='/socket.io/socket.io.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
        script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
  body
    block content